<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v6.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
		<connectionStrings>
			<add name="Conexao" connectionString="Server=localhost\SQLEXPRESS;database=desafioAPI;Integrated Security=SSPI;TrustServerCertificate=True; user=renato; PassWord =sa7485;" providerName="System.Data.SqlClient" />
		</connectionStrings>
	
</configuration>